<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>回答投稿/セルフ回答投稿</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="answer--body body_color_white">

<header class="header_color_white header_bottomLine_black header_fixed">
	<nav class="pc-nav">
		<p><a href="#" onclick="window.history.back(); return false;">前のページへ戻る</a></p>
		<p><a th:href="@{/home}">homeへ戻る</a></p>
		<p class="show_userId" th:if="${loginUserId != 'anonymousUser'}" >
			 <a th:href="@{/mypage}">
		        <span class="show_userId-span_Top" th:text="${loginUserId} + 'でログイン中'"></span>
		        <span class="show_userId-span_Bottom">マイページTOPへ</span>
		     </a>
		</p>
	</nav>

	<div class="sp-userId_and_hamburger">
		<div>
		    <span class="sp-show_userId" th:if="${loginUserId != 'anonymousUser'}" th:text="${loginUserId} + 'でログイン中'"></span>
		    <span class="sp-no_login" th:if="${loginUserId == 'anonymousUser'}" th:text="[未ログイン]"></span>
		</div>

		<div id="hamburger">
	      <span></span>
	    </div>
	</div>

    <div class="sp-nav_wrapper">
		<nav class="sp-nav_bg"></nav>

		<nav class="sp-nav">
		    <div class="round_btn close_btn"></div>

		    <ul>

		      <li class="previous_page"><a href="#" onclick="window.history.back(); return false;">＜＜ 前のページへ戻る</a></li>

		      <li><a th:if="${loginUserId != 'anonymousUser'}" th:href="@{/mypage}">マイページTOPへ</a></li>

		 	  <li class="to_home"><a th:href="@{/home}">homeへ</a></li>

		      <li><a th:href="@{/questions/book_title_list}">全教材タイトル一覧</a></li>

		      <li><a th:href="@{/questions/list}">全Q＆A一覧</a></li>

		      <li><a th:if="${loginUserId == 'anonymousUser'}" th:href="@{/login}">ログイン</a></li>

		      <li><a th:if="${loginUserId != 'anonymousUser'}" th:href="@{/logout}">ログアウト</a></li>
		    </ul>
	    </nav>
     </div>
</header>

<main class="center">
		<h1 class="answer--title">回答投稿</h1>

	<div class="questionContentsArea">
		<th:block th:object="${questionDetails}">

			<div class="question_head">
				<p class="question_head-question">質問 </p>
				<p class="question-date" th:text="'投稿日時：' + *{#dates.format(questionDate, 'yyyy年MM月dd日 HH:mm')}"></p>
			</div>

			<table class="question_table" border="1">
				<tr>
					<th class="th-book_title">教材タイトル</th>
					<td class="td-book_title" th:text="*{bookTitle}"></td>
				</tr>
				<tr class="question_pageNumber">
					<th>ページ番号(時間)</th>
					<td th:text="*{pageNumber}"></td>
				</tr>
				<tr>
					<th>質問タイトル</th>
					<td th:text="*{questionTitle}"></td>
				</tr>
				<tr>
					<th>質問内容</th>
					<td class="question_contents-td" th:text="*{questionContents}"></td>
				</tr>
			</table>

			<img class="questionImg" th:each="questionImg : *{questionImgList}" th:src="@{https://qa-uploads-aws.s3.ap-northeast-1.amazonaws.com/{img}(img=${questionImg.questionImgName})}" onerror="this.style.display='none'">

		</th:block>
	</div>
	<hr class="answerContents-separateLine"/>


	<h1 class="answerContents--title" th:if="${addAnswerType == 'addAnswer'}">回答内容</h1>
	<h1 class="selfAnswerContents--title" th:if="${addAnswerType == 'addSelfAnswer'}">セルフ回答内容</h1>
	<!--<h1>セルフ回答</h1> -->

	<div class="answerFormArea">
		<p class="answer_head-answer">回答</p>
		<form class="answer_contents-form" action="" method="Post" th:object="${answer}" enctype="multipart/form-data">
				<span class="error" th:errors="*{answerContents}"></span><br />
				<textarea th:if="${addAnswerType == 'addAnswer'}" th:field="*{answerContents}" placeholder="回答を記入してください。(500字以内)&#13;※画像や本文の引用を行う際は下記の注意書きの項目をチェックしましょう。"></textarea>
				<textarea th:if="${addAnswerType == 'addSelfAnswer'}" th:field="*{answerContents}" placeholder="自身で解決できたポイントを記入してください。(500字以内)&#13;※画像や本文の引用を行う際は下記の注意書きの項目をチェックしましょう。"></textarea>
			<br />
		   <div class="quote_caution">
			   <div>
				   <p>＜引用時の注意点＞<br />
				   引用とは他者の著作物の文章や画像をのせる事です。<br />
				   下記のルールを守らずに引用すると著作権の侵害になる場合があります。<br />
				   引用が不安な場合は、引用を行わずに質問を作りましょう。<br />
				    ●引用部分は、質問や説明をするのに使う必要最低限の部分以外はのせてはいけません。<br />
				    ●引用部分に修正を加えてはいけません。<br />
				    ●本文の引用は、どこが引用部分なのかカッコ等で囲んで分かりやすくする必要があります。<br />
				    ●書籍からの引用の場合は、書籍の名称、著者名を明記する必要があります。<br />コピー&amp;ペースト用▶▶（引用部分「」、引用元『』、著者名： ）<br class="sp_br">（下記引用画像、引用元『』、著者名： ）<br />
					●Webサイトからの引用の場合は、Webサイト名とURLを明記する必要があります。<br />コピー&amp;ペースト用▶▶（引用部分「」、Webサイト名『』、URL： ）<br class="sp_br">（下記引用画像、Webサイト名『』、URL： ）<br />

				   </p>
			   </div>
		   </div>
			<p class="image_attached">画像添付:
				<input type="file" th:field="*{multipartFile}" multiple>
			</p>
			<div  class="selfAnswer_radioButton">
				<!-- 解決・未解決の選択 -->
				<th:block th:if="${addAnswerType == 'addSelfAnswer'}">
					<input class="selfAnswer_radioButton-unresolve" type="radio" name="status" value="未解決">未解決
					<input class="selfAnswer_radioButton-resolve" type="radio" name="status" value="解決" checked="checked" >解決
				</th:block>
			</div>
			<p class="cancel_and_submit">
				<a href="#" onclick="window.history.back(); return false;">キャンセルする</a>
				<input type="submit" th:field="*{answerDate}">
			</p>
		</form>
	</div>
</main>
<!-- bootstrap -->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script>
$(function() {
   const hum = $('#hamburger, .close_btn')
   const nav = $('.sp-nav')
   hum.on('click', function(){
      nav.toggleClass('toggle');
      $('.sp-nav_bg').stop().fadeToggle(350);
   });
});
</script>
</body>
</html>
